<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express To-dos</title>
</head>
<body>
  <h1>Todos as of <%= time %></h1>
  <a href="/todos/new">Add To-Do</a>
  <ul>
    <% todos.forEach(todo => { %>
      <li>
				<a href="/todos/<%= todo._id %>"><%= todo.text %></a>
				- 
				<%= todo.done ? 'done' : 'not done' %>
			</li>
    <% }) %>
  </ul>
  <a href="/">Home</a>
</body>
</html>